html,body{
  height: 100%;
  width: 100%;
  background-color: #F0EFF4;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.AppContainer{
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page{
  display: flex;
  width: 100%;
  height: 100%;
}

.mainContainer{
  width: 85%;
  height: 100%;
  background-color: #F0EFF4;
  padding: 44px 20px 20px 48px;
  overflow: auto;
}

.TitleText {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 16px;
}

.SecondaryText{
  font-size: 20px;
  font-weight: 500;
}

.descriptionTextContainerContainer{
  padding-top: 42px;
}

.descriptionTextContainer{
  display: flex;
}

.descriptionText{
  width: 200px;
}

.hrBar{
  border: none;
  height: 1px;
  background-color: #000;
  margin: 32px 0 48px 0;
}

.descriptionContainer{
  text-align: right;
  padding-top: 24px;
  align-self: start;
  padding-bottom: 12px;
  font-weight: bold;
}

.descriptionTextSideBar{
  align-self: center;
  padding-left: 4px;
}

.space{
  margin-top: 60px;
}

.reviewAddTextContainer{
  width: 90%;
  height: 140px;
  border-radius: 5px;
  text-align: start;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-size: 1em;
}

.reviewAddContainer{
  padding-top: 20px ;
}

.reviewItem {
  padding: 10px 0;
}

.reviewItemHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.descriptionTextContainer {
  display: flex;
  align-items: center;
}

.descriptionText {
  font-weight: bold;
  margin-right: 5px;
}

.reviewItemContent {
  font-size: 1rem;
}

.reviewSeparator {
  border: none;
  border-top: 2px solid #000;
  margin: 20px 0;
}

.movieForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 8px;
}

.directorForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 8px;
}

.formTitle {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: left;
}

.formLabel {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-weight: bold;
}

.formInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 1em;
}

.formInput::placeholder {
  color: #999;
}

.submitButton {
  margin-top: 24px;
  padding: 10px 15px 10px 15px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}

.rating{
  margin: 24px;
  border-radius: 5px;
}

